.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

body {
    text-align: center;
    background-image: url('../../admin/shared/assets/modelos/icons/contact.jpg');
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

p,h3{
    text-align: center;
}