

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #d0d0d0;
  /* background-color: #e2e24b; */
  background-image: url('../modelos/icons/menuBienvenida.jpg');
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

.box {
  /* background-image: url(https://p1.pxfuel.com/preview/350/545/252/blackboard-chalkboard-background-chalk.jpg); */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 320px;
  height: 450px;
  padding: 24px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.57);
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.3);
}

.bg-img {
  background-position: center;
  background-size: cover;
}

.content {
  text-align: center;
}

.content h2 {
  padding: 15px 0px 15px;
  font-size: 2em;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.user-input {
  position: relative;
}

.user-input i {
  position: absolute;
  right: 4px;
  top: 5px;
  padding: 9px 8px;
  color: #848484;
  transition: 0.3s;
}

.pass-input {
  position: relative;
}

.pass-input i {
  position: absolute;
  right: 4px;
  top: 5px;
  padding: 9px 8px;
  color: #848484;
  transition: 0.3s;
}

.login-input {
  color: white;
  border-radius: 2px;
  width: 240px;
  height: 44px;
  border: none;
  padding: 15px 20px;
  background-color: rgba(65, 65, 65, 0.5);
  margin-bottom: 24px;
}


.login-input:focus:invalid {
  border-bottom: 2px solid #645724;
}

.login-btn {
  font-size: 16px;
  font-weight: 700;
  width: 240px;
  border-radius: 44px;
  padding: 12px;
  background-color: #a14406;
  border: none;
  cursor: pointer;
  margin-bottom: 32px;
}

.login-btn:focus {
  background-color: #a14406;
}

span {
  color: #a14406;
}


.f-pass a {
  color: #a14406;
  text-decoration: none;
}

#hide-1 {
  display: none;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  position: relative;
  width: 78px;
  height: auto;
}
